/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#barra{
	background-color: rgba(0,0,0,0.6);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
}


#cy{
	width: 100%;
    height: 93%;
    top: 0;
	left: 0;
	right: 0;
    position: absolute;
    top: 7%;
}


.btn_style{
		margin-top: 7px;
		margin-left: 7px;
	
	}
